.vjs-quality-menu-permit {
  color: #4a9cfa;
  border:1px solid #4a9cfa;
  border-radius: 4px;
  padding: 0 2px 0 2px;
  margin-left: 6px;
}

.opacity-0 {
  opacity: 0;
}

.vjs-quality-menu-permit-display {
  font-size: 12;
  display: inline-block;
  -webkit-transform: scale(.833);
}